<% layout('layout') %>
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="/">首页</a></li>
            <li class="active">注册</li>
        </ol>
        <div class="row">
            <div class="col-md-9">
                <div class="panel panel-default">
                    <div class="panel-heading">用户注册</div>
                    <div class="panel-body">
                        <% if(typeof(info) != 'undefined' && info){%>
                            <div class="alert alert-success">
                                <strong><%= info %></strong>
                            </div>
                            <% }%>
                                <div class="col-md-6 col-md-offset-2">
                                    <form id="signupForm" action="/signup" method="post" class="form-horizontal" role="form">
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">用户名</label>
                                            <div class="col-sm-9">
                                                <input type="email" id="accountName" name="account_name" class="form-control" placeholder="请输入Email">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">密码</label>
                                            <div class="col-sm-9">
                                                <input type="password" name="account_pwd" class="form-control" placeholder="请输入密码">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">确认密码</label>
                                            <div class="col-sm-9">
                                                <input type="password" name="re_pwd" class="form-control" placeholder="请再次输入密码">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-offset-3 col-sm-9">
                                                <button type="submit" class="btn btn-primary">注 册</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="panel panel-default">
                    <div class="panel-heading">系统介绍</div>
                    <div class="panel-body">
                        一个简单博客系统
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/public/js/jquery/dist/jquery.js" type="text/javascript"></script>
    <script type="text/javascript">
    $("#accountName").blur(function() {
        var self = this;
        if (this.value === '') {
            $(this).parent().parent().removeClass('has-error');
            return;
        }

        $.post("/api/v0.1/user/hasUser", {
            account_name: this.value
        }, function(data) {
            if (data.success) {
                $(self).parent().parent().addClass('has-error');
                return;
            }
            $(self).parent().parent().removeClass('has-error');
        });
    });
    </script>
